*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(180, 174, 174);
}

a{
  text-decoration: none;
  color: inherit;
}

.dark{
  background: pink;
  color: black;
}

.light{
  background: grey;
}